* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background: #F5F5FA;
  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: black;
    background: #96ca42;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 15px 0px 5px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px 40px; /* Adjust padding to increase space on left and right */
    font-size: 15px;
    color: black;
    background: #96ca42;;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px; /* Adjust width as needed */
    margin: 0 auto; /* Center the button horizontally */
  }
  .btn:hover{
    background-color: #213373;;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
  .forgot-password {
    text-align: right;
    margin-top: -20px;
}
  .forgot-password a {
  
    color: #96ca42;; /* Adjust link color */
    text-decoration: none; /* Remove underline */
}

.forgot-password a:hover {
    text-decoration: underline; /* Add underline on hover */
}
.sign-up{
  text-decoration: none;
  color: #96ca42; 
}
.sign-up:hover{
  text-decoration: underline;
}
.head{
  color:black;
  text-align: center;
  margin-bottom: 20px;
  font-size: smaller;
  
}
